---
import { Languages } from '@/i18n/ui';
import {
	getRouteFromUrl,
	useTranslatedPath,
	getLangFromUrl,
} from '@/i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = Languages[lang];
const otherLocales = Object.values(Languages).filter(
	(locale) => locale.code !== lang
);
---

<div>
	<div>
		<button>
			<currentLocaleData.flag />
			{currentLocaleData.name}
		</button>
		<ul>
			{
				otherLocales.map((locale) => (
					<li>
						<a
							href={translatePath(
								`/${route ? route : ''}`,
								locale.code
							)}
						>
							<locale.flag />
							{locale.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
