---
import { Languages } from '@/i18n/ui';
import {
	getRouteFromUrl,
	useTranslatedPath,
	getLangFromUrl,
} from '@/i18n/utils';
import ChevronIcon from '@/components/icons/Chevron.astro';
import LangIcon from '@/components/icons/Language.astro';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = Languages[lang];
const otherLocales = Object.values(Languages).filter(
	(locale) => locale.code !== lang
);
---

<div id='lang-picker'>
	<!-- Dropdown trigger -->
	<button
		type='button'
		aria-expanded='true'
		aria-haspopup='true'
		class='drop-btn'
	>
		<LangIcon />
		{currentLocaleData.code.toUpperCase()}
		<ChevronIcon />
	</button>
	<!-- Dropdown content -->
	<ul class='dropdown-content'>
		{
			otherLocales.map((locale) => (
				<li>
					<a
						href={translatePath(
							`/${route ? route : ''}`,
							locale.code
						)}
					>
						{locale.name}
					</a>
				</li>
			))
		}
	</ul>
</div>

<style>
	#lang-picker {
		color: light-dark(var(--light-text), var(--dark-text));
		font-weight: 500;

		.drop-btn {
			padding: 0.5em 1em;
			overflow: hidden;

			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5em;

			background-color: transparent;
			border-color: transparent;
			border-radius: 0.5em;

			font-size: 0.9rem;
			font-weight: 500;

			transition: all 0.3s;

			/* Important for vertical align on mobile phones */
			font-family: inherit;
			margin: 0;

			svg {
				width: 1.2em;
				aspect-ratio: 1/1;
			}
		}

		&:hover .drop-btn {
			background-color: light-dark(var(--light-bg), var(--dark-bg));
		}

		.dropdown-content {
			min-width: 100px;
			padding: 0.5em 1em;
			margin: 0;

			display: none;
			position: absolute;
			z-index: 2;

			background-color: light-dark(
				hsl(from var(--light-bg) h s calc(l - 5)),
				hsl(from var(--dark-bg) h s calc(l - 5))
			);
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

			li {
				list-style: none;

				a {
					padding: 0.5em 1em;
					color: inherit;
					text-decoration: none;

					display: flex;
					align-items: center;
					justify-content: center;

					font-size: 0.9rem;
				}
			}
		}

		&:hover .dropdown-content {
			display: block;
		}

		.dropdown-content li:hover {
			background-color: light-dark(
				var(--light-accent),
				var(--dark-accent)
			);
		}
	}
</style>
