---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id='container'>
	<h1>Definiciones de Rugby</h1>
</div>

<style>
	#container {
		height: calc(100% - 4em);
	}

	h1 {
		text-align: center;
		padding: 1em 0;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
