article#definitions-display-container {
	width: 100%;

	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

#found-definitions-display {
	width: 100%;
	margin-top: 2em;
	padding: 2em 0;

	position: relative;
	overflow: hidden;

	flex: 1 1 auto;

	background-color: light-dark(
		hsl(from var(--light-bg) h s calc(l - 5)),
		hsl(from var(--dark-bg) h s calc(l - 5))
	);

	svg.transition-image {
		position: absolute;
		top: 0;

		color: light-dark(var(--light-bg), var(--dark-bg));
	}

	div#definitions-wrapper {
		width: min(100%, var(--app-max-width));
		margin-inline: auto;

		position: relative;
		z-index: 1;
	}
}

article.definition {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h4 {
			margin: 0;
		}

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5em;
		}
	}

	p {
		margin-bottom: 2em;
	}
}

span.definition-tag,
button.definition-tag {
	padding: 0.25em 0.75em;

	font-family: 'JetBrains Mono', serif;
	font-size: 0.75em;
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3em;

	transition: all 0.3s;
	background-color: light-dark(
		hsl(from var(--light-bg) h s calc(l - 5)),
		hsl(from var(--dark-bg) h s calc(l + 5))
	);
	border: 1px solid
		light-dark(
			hsl(from var(--light-bg) h s calc(l - 10)),
			hsl(from var(--dark-bg) h s calc(l + 10))
		);
	border-radius: 0.5em;

	svg {
		width: 1.2em;
		aspect-ratio: 1/1;
	}
}

button.definition-tag:hover,
button.definition-tag:focus {
	cursor: pointer;
	outline: none;
	background-color: light-dark(
		hsl(from var(--light-bg) h s calc(l + 10)),
		hsl(from var(--dark-bg) h s calc(l + 10))
	);
}

button.definition-tag.active-tag {
	color: light-dark(var(--dark-text), var(--light-text));
	background-color: light-dark(var(--light-accent), var(--dark-accent));
	border-color: light-dark(var(--light-accent), var(--dark-accent));
}

span.data-loader {
	margin-top: 2em;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

section#definition-tags-wrapper {
	margin: 1em auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}
