article#definitions-display-container {
	width: 100%;

	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 2em;
}

#found-definitions-display {
	width: 100%;
	padding-top: 2em;

	position: relative;
	overflow: hidden;

	flex: 1 1 auto;

	background-color: light-dark(
		hsl(from var(--light-bg) h s calc(l - 5)),
		hsl(from var(--dark-bg) h s calc(l - 5))
	);

	svg.transition-image {
		position: absolute;
		top: 0;

		color: light-dark(var(--light-bg), var(--dark-bg));
	}

	div#definitions-wrapper {
		width: min(100%, var(--app-max-width));
		min-height: 120px;
		margin-inline: auto;

		position: relative;
		z-index: 1;
	}
}

section.definition-group {
	padding-left: 1em;
	border-left: 1px solid
		light-dark(
			hsl(from var(--light-bg) h s calc(l - 15)),
			hsl(from var(--dark-bg) h s calc(l + 5))
		);

	h2 {
		margin-bottom: 1em;
		opacity: 0.7;
	}
}

article.definition {
	header {
		margin-bottom: 0.2em;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5em;
		flex-flow: wrap-reverse;

		div {
			margin-left: auto;
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
	}

	p {
		margin-bottom: 2em;
		text-wrap: pretty;
	}
}

span.definition-tag,
button.definition-tag {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.75em;
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.35em;

	transition: all 0.3s;
	background-color: light-dark(
		hsl(from var(--light-bg) h s calc(l - 10)),
		hsl(from var(--dark-bg) h s calc(l + 5))
	);
	border: 1px solid
		light-dark(
			hsl(from var(--light-bg) h s calc(l - 15)),
			hsl(from var(--dark-bg) h s calc(l + 10))
		);
	border-radius: 0.5em;

	svg {
		width: 1.2em;
		height: 1.2em;
	}
}
span.definition-tag {
	padding: 0.25em 0.75em;
}
button.definition-tag {
	padding: 0.75em 1.5em;
}

button.definition-tag:hover,
button.definition-tag:focus {
	cursor: pointer;
	background-color: light-dark(
		hsl(from var(--light-bg) h s calc(l + 10)),
		hsl(from var(--dark-bg) h s calc(l + 10))
	);
}

button.definition-tag.active-tag {
	color: light-dark(var(--dark-text), var(--light-text));
	background-color: light-dark(var(--light-accent), var(--dark-accent));
	border-color: light-dark(var(--light-accent), var(--dark-accent));
}

span.data-loader {
	min-height: 120px;
	padding-bottom: 2em;

	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

@media screen and (max-width: 834px) {
	#found-definitions-display div#definitions-wrapper {
		padding-inline: 2em;
	}
}
