---
import Layout from '@/layouts/Layout.astro';
import { getI18N } from '@/i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
	title={`${i18n.SEO.TITLE_SEARCH}`}
	description={`${i18n.SEO.DESCRIPTION_SEARCH}`}
>
	<main>
		<h1>{i18n.SEARCH.TITLE}</h1>
	</main>
</Layout>

<style>
	main {
		height: calc(100% - 4em);
	}

	h1 {
		text-align: center;
		padding: 1em 0;
	}
</style>
