---
import Layout from '@/layouts/Layout.astro';
import { getI18N } from '@/i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
	title={`${i18n.SEO.TITLE_SEARCH}`}
	description={`${i18n.SEO.DESCRIPTION_SEARCH}`}
>
	<main>
		<header>
			<h1>{i18n.SEARCH.TITLE}</h1>
			<p>{i18n.SEARCH.DESCRIPTION}</p>
		</header>
	</main>
</Layout>

<style>
	main {
		height: calc(100% - 4em);
	}

	header {
		padding: 1em 0;

		h1,
		p {
			text-align: center;
		}
	}
</style>
