---
import { ClientRouter } from 'astro:transitions';
import { getLangFromUrl } from '@/i18n/utils';
import { colors } from '@/constants/colors';
import Navbar from '@/components/views/Navbar.astro';
import Footer from '@/components/views/Footer.astro';

const {
	darkBg,
	darkText,
	darkAccent,
	lightBg,
	lightText,
	lightAccent,
	lightFooter,
} = colors;

interface Props {
	title: string;
	description: string;
	showNavbar?: boolean;
	showFooter?: boolean;
}

const {
	title,
	description,
	showNavbar = true,
	showFooter = true,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<meta
			http-equiv='Content-Security-Policy'
			content='upgrade-insecure-requests'
		/>
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		{showNavbar && <Navbar />}

		<main id='container'>
			<slot />
		</main>

		{showFooter && <Footer />}
	</body>
</html>

<style
	is:global
	define:vars={{
		darkBg,
		darkText,
		darkAccent,
		lightBg,
		lightText,
		lightAccent,
		lightFooter,
	}}
>
	:root {
		--dark-bg: var(--darkBg);
		--dark-text: var(--darkText);
		--dark-accent: var(--darkAccent);
		--light-bg: var(--lightBg);
		--light-text: var(--lightText);
		--light-accent: var(--lightAccent);
		--light-footer: var(--lightFooter);
		--app-max-width: 700px;
		color-scheme: light dark;
		accent-color: light-dark(var(--light-accent), var(--dark-accent));
		font-size: clamp(0.8rem, 0.5375rem + 0.6vw, 1.1rem);
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Poppins-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
	}

	@font-face {
		font-family: 'JetBrains Mono';
		font-style: normal;
		font-weight: normal;
		font-display: swap;
		src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Tomorrow';
		font-style: normal;
		font-weight: bold;
		font-display: swap;
		src: url('/fonts/Tomorrow-Bold.woff2') format('woff2');
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		outline: none;

		font-family: 'Poppins', system-ui, sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Tomorrow', sans-serif;
		font-weight: bold;
	}

	html,
	body {
		width: 100%;
		min-height: 100svh;

		color: light-dark(var(--light-text), var(--dark-text));
		background-color: light-dark(var(--light-bg), var(--dark-bg));

		display: flex;
		flex-direction: column;
	}

	main#container {
		flex: 1 1 auto;

		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}
</style>
