---
import GithubIcon from '@/components/icons/Github.astro';
import LinkedinIcon from '@/components/icons/Linkedin.astro';
import EnvelopeIcon from '@/components/icons/Envelope.astro';
import CopyrightIcon from '@/components/icons/Copyright.astro';
import { getI18N } from '@/i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer id='footer'>
	<header>
		<h3>{i18n.FOOTER.TITLE}</h3>
	</header>

	<main>
		<article class='socials'>
			<a
				href='https://github.com/nlarrea/rugby-definitions'
				target='_blank'
				rel='noopener noreferrer'
			>
				<GithubIcon />
			</a>
			<a
				href='https://www.linkedin.com/in/naia-larrea/'
				target='_blank'
				rel='noopener noreferrer'
			>
				<LinkedinIcon />
			</a>
			<a href='mailto:larrea.naia@gmail.com'>
				<EnvelopeIcon />
			</a>
		</article>

		<article class='terms'>
			<p id='copyright'>
				<CopyrightIcon /> 2025-present Rugby Definitions. All Rights Reserved.
			</p>
			<a
				href='/code-of-conduct'
				target='_blank'
				rel='noopener noreferrer'
			>
				Code of Conduct
			</a>
		</article>
	</main>
</footer>

<style>
	footer#footer {
		width: 100%;
		min-height: 8em;
		padding: 2em 2em 3em;

		color: var(--dark-text);
		background-color: light-dark(
			hsl(from var(--light-footer) h s calc(l - 10)),
			hsl(from var(--dark-bg) h s calc(l - 10))
		);

		#copyright,
		#copyright + a {
			width: fit-content;
			font-size: 0.8em;
			line-height: 1.5cap;

			display: flex;
			align-items: center;

			svg {
				height: 1em;
				aspect-ratio: 1;
			}
		}

		h3 {
			margin-bottom: 2em;
		}

		main {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			gap: 2em;

			article {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 2em;

				a {
					color: inherit;
					transition: all 0.3s;

					&:hover,
					&:focus {
						color: light-dark(
							var(--light-accent),
							var(--dark-accent)
						);
					}
				}

				&.socials a {
					text-decoration: none;
				}
			}
			article.socials a:hover,
			article.socials a:focus {
				-webkit-animation: jello-horizontal 0.9s both;
				animation: jello-horizontal 0.5s both;
			}
			article.terms {
				flex-direction: column;
				gap: 0.5em;
			}
		}
	}

	@-webkit-keyframes jello-horizontal {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}
		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}
		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}
		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}
		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
	@keyframes jello-horizontal {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}
		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}
		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}
		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}
		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
</style>
