---
import LanguagePicker from '@/components/LanguagePicker.astro';
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav id='navbar'>
	<a href={translatePath('/')} class='nav-link'>{t('nav.search')}</a>
	<a href={translatePath('/examen')} class='nav-link'>{t('nav.quiz')}</a>
	<a href={translatePath('/mas-rugby')} class='nav-link'>{t('nav.about')}</a>
	<LanguagePicker />
</nav>

<style>
	#navbar {
		width: fit-content;
		height: 4em;
		padding: 0 3em;
		margin-inline: auto;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3em;

		position: sticky;
		top: 0;

		background-color: light-dark(
			hsl(from var(--light-bg) h s calc(l - 5)),
			hsl(from var(--dark-bg) h s calc(l - 10))
		);
		border-radius: 0 0 1.5em 1.5em;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

		a.nav-link {
			color: inherit;
			text-decoration: none;
			transition: all 0.3s;
			font-weight: 500;

			&:hover,
			&:focus,
			&.active-nav {
				color: light-dark(var(--light-accent), var(--dark-accent));
			}
		}
	}
</style>

<script>
	const nav = document.querySelector('#navbar');
	const navLinks = nav?.querySelectorAll('a');
	const currentUrl = window.location.href;

	navLinks?.forEach((link) => {
		if (link.href === currentUrl) {
			link.classList.add('active-nav');
		}
	});
</script>
